@font-face {
  font-family: 'PlusJakartaSans_200ExtraLight';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/400ExtraLight/PlusJakartaSans_400ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans_300Light';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/300Light/PlusJakartaSans_300Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans_400Regular';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/400Regular/PlusJakartaSans_400Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans_500Medium';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/500Medium/PlusJakartaSans_500Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans_600SemiBold';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/600SemiBold/PlusJakartaSans_600SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans_700Bold';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/700Bold/PlusJakartaSans_700Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans_800ExtraBold';
  src: url('../node_modules/@expo-google-fonts/plus-jakarta-sans/800ExtraBold/PlusJakartaSans_800ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@theme {
  --font-extra-light: 'PlusJakartaSans_200ExtraLight';
  --font-light: 'PlusJakartaSans_300Light';
  --font-normal: 'PlusJakartaSans_400Regular';
  --font-medium: 'PlusJakartaSans_500Medium';
  --font-semibold: 'PlusJakartaSans_600SemiBold';
  --font-bold: 'PlusJakartaSans_700Bold';
  --font-extra-bold: 'PlusJakartaSans_800ExtraBold';
}

@theme static {
  /* --- FONT SIZE --- */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.5rem;
}
